[run]
branch = True
source =
    neobolt
omit =
    .*/*
    neobolt/__main__.py
    test/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    if __name__ == .__main__.:
    except ImportError
    def deprecated

show_missing = True
